@font-face {
font-family: "futurademic";
src: url("../fonts/futurademic.otf") format("opentype");
}
html{
  width: 100%;
  min-width: 1460px;
}
body{
  font-family: "futurademic";
	height: 100%;
  width: 100%;
  min-width: 1460px;
  margin: 0;
  padding: 0;
	background: #E5E5E5;
}
header{
  min-width: 1460px;
  height: 131px;
  width: 100%;
  background: #F8F8F8;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.15);
}
.header_container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items:center;
  width: 1460px;
  height: 131px;
}
.header_container span{
  display: none;
}
.header_logo{
  margin-top: 34px;
  margin-bottom: auto;
  width: 138px;
  height: 63px;
}
.text{
	width: 1460px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 77px;
}
.text h6{
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 96%;
	text-transform: uppercase;
	/* or 46px */
	color: #000000;
}
.main_info{
	height: auto;

}
.main_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	width: 1460px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 47px;
}
.left_col{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
	width: 1090px;
}

.left_blocks{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: flex-start;
	margin-bottom: 20px;
	width: 530px;
	height: auto;
	background: #FFFFFF;
	border-radius: 15px;
}

.purple_border{
	border: 3px solid #BD00FF;
  box-sizing: border-box;
}
.left_blocks img{

	padding: 20px;
	height: 161px;
	width: 161px;
	border-radius: 30px;
}
.text_box{
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 15px;
	height: auto;
	width: 300px;
}
.left_blocks h1{
	margin: 0;
	text-align: left;
	height: 25px;
	width: 300px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 96%;
  /* or 23px */
  color: #000000;
}
.left_blocks h2{
	margin: 0;
	padding-top: -25px;
	padding-bottom: 2px;
	text-align: left;
	width: 300px;
	height: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 96%;
  color: #000000;
}
.icon{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0;
	margin-bottom: 13px;
	width: auto;
	height: 25px;
}
.price{
	margin: 0;
  margin-left: 180px;
	width: 120px;
	height: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 96%;
  /* or 23px */
  text-align: right;
  color: #000000;
}

.line_container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 89px;

}
.line{
	margin: auto;
	height: 100%;
	border: 2px solid #DEDEDE;
}
.right_col{
	width: auto;
}
.right_block{
  position: sticky;
  margin-bottom: 20px;
  top: 50px;
	width: 290px;
	height: auto;
	background: #FFFFFF;
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}
.right_block_container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: auto;
	padding: 20px;
}
#mobile_disc{
  display: none;
}
.discount{
  border-radius: 0;
	text-align: left;
	margin: 0;
	height: auto;
	width: auto;
	padding-bottom: 5px;
}
.discount h1{
	margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 96%;
  /* or 23px */
  color: #000000;
}
.discount h2{
	padding-top: 3px;
	margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 96%;
  /* or 92px */
  color: #000000;
}
.discount h3{
	padding-top: 5px;
	margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 96%;
  /* or 13px */
  color: #000000;
}
.discount h4{
	display: none;
}
.sumup{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 0 15px 0;
	width: auto;
	height: auto;
}
.sumup_without_discount{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: auto;
}
.sumup_without_discount h1{
	width: auto;
	height: auto;
	padding-right: 25px;
	margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 96%;
  /* or 23px */
  color: #000000;
}
.sumup_without_discount h2{
	width: 170px;
	height: auto;
	margin: 0;
	text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 96%;
  /* or 35px */
  text-decoration-line: none;
  color: #000000;

}
.sumup_with_discount {
	width: auto;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.sumup_with_discount h1{
	width: auto;
	height: auto;
	margin: 0;
	text-align: right;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 96%;
  /* or 35px */
  color: #FF0000;
}

.bottom input{
	margin: 0;
	width: 251px;
	height: 48px;
	background: #31E08C;
  border-radius: 46px;
  border-style: solid;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 96%;
  color: #FFFFFF;
}

a {
	text-decoration: none;
}

footer{
  position: relative;
  bottom: 0;
  min-width: 1460px;
  height: 150px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.container_footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items:center;
  width: 1460px;
  height: 150px;
}
.logo{
  display: block;
  width: 130px;
  height: 122px;
  background-image: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: auto;
}
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.logo_1{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../img/inst.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: invert(100%);
}
.logo_2{
  width: 28px;
  height: 17px;
  margin-right: 10px;
  background-image: url(../img/vk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  filter: invert(100%);
}
.logo_3{
  width: 35px;
  height: 26px;
  background-image: url(../img/youtube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  display: block;
}
.confidence_policy{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
